body {
    background-color: lavenderblush;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lavender;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}

/* jumbotron picture */
.img-box {
    display: grid;
    height: 100%;
}
.center-fit {
    max-width: 85%;
    max-height: 100vh;
    margin: auto;
}

.span4 img {
    margin-right: 10px;
}
.span4 .img-left {
    float: left;
}
.span4 .img-right {
    float: right;
}
